# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/MultithreadApp/Debug
/MultithreadApp/.vs/MultithreadApp/v16/Browse.VC.opendb
/Project2/sam3d/.vs/sam3d/v16/Browse.VC.opendb
/Project2/sam3d/Debug
/Project2/sam3d/sam3dexec/Debug/sam3dexec.tlog
/Project2/sam3d/sam3dexec/x64/Debug
./vs
.vs
/Qt/build-Proj1-Desktop_Qt_5_12_3_MSVC2017_32bit-Debug/debug
/Qt/build-Proj1-Desktop_Qt_5_12_3_MSVC2017_32bit-Debug/release
/Qt/build-Proj1-Desktop_Qt_5_12_3_MinGW_32_bit-Release/debug
/Qt/build-Proj1-Desktop_Qt_5_12_3_MinGW_32_bit-Release/release
